@using System.Collections.Generic
@model ICollection<HäggesPizzeria.Models.BaseDish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BaseDishId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BaseDishId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BaseDishId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
