@using System.Collections.Generic
@model ICollection<BaseDish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Dish is active
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var dish in Model) {
        <tr>
            <td>
                @dish.Name
            </td>
            <td>
                @dish.Price
            </td>
            @if (@dish.IsActive)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@dish.BaseDishId">Edit</a> |
                <a asp-action="Details" asp-route-id="@dish.BaseDishId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
