@using System.Collections.Generic
@model ICollection<BaseDish>
@inject HäggesPizzeria.Services.CategoryService CategoryService

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">All dishes</a>
    @foreach (var category in await CategoryService.GetAllActiveCategories())
    {
        <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="GetDishesByCategory" asp-route-categoryId="@category.CategoryId">@category.Name</a>
    }
</div>
<hr/>
<div class="col-lg-offset-2 col-lg-8">
    <div class="row">
        @foreach (var dish in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@dish.Name</h3>
                        @foreach (var ingredient in dish.BaseDishIngredients)
                        {
                            <p>@ingredient.Ingredient.Name</p>
                        }
                        <p>
                            <a class="btn btn-primary" role="button" asp-controller="Cart" asp-action="AddDishToCart" asp-route-dishId="@dish.BaseDishId">
                                Add to cart <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                            </a>
                        </p>
                        <p>@dish.Price kr</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>