@using System.Collections.Generic
@using System.Linq
@model ICollection<OrderedDish>

@if (Model != null && Model.Count >= 1)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Dish
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var dish in Model) {
            <tr>
                <td>
                    @dish.Name
                </td>
                <td>
                    @dish.Price
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="DishDetails" asp-route-guid="@dish.Guid">
                        Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="RemoveDishFromCart" asp-route-guid="@dish.Guid">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="checkout">
        <div>Total price: @Model.Sum(d => d.Price) kr</div>
        <hr/>
        <a class="btn btn-success" asp-controller="Order" asp-action="ValidateShippingInformation">
            Proceed to checkout
            <i class="fa fa-credit-card" aria-hidden="true"></i>
        </a>
    </div>
}
else
{
    <h1 class="text-center alert alert-warning">Cart is empty :(</h1>
}