@using HäggesPizzeria.Services
@model HäggesPizzeria.Models.BaseDish
@inject IngredientService IngredientService

<div>
    <div class="col-md-6">
        @foreach (var ingredient in Model.BaseDishIngredients)
        {
            <div class="col-lg-12">
                <p class="col-md-6">@ingredient.Ingredient.Name</p>
                <button class="col-md-6" onclick="updateIngredient(@Model.BaseDishId, @ingredient.IngredientId, 'false')">Remove</button>
            </div>
        }
    </div>
    <div class="col-md-6">
        @foreach (var ingredient in IngredientService.GetAllActiveIngredients(Model.BaseDishIngredients))
        {
            <div class="col-lg-12">
                <p class="col-sm-6">@ingredient.Name</p>
                <button class="col-sm-6" onclick="updateIngredient('@Model.BaseDishId', '@ingredient.IngredientId', 'true')">Add</button>
            </div>
        }
    </div>
</div>