@using HäggesPizzeria.Models.IngredientViewModels
@using HäggesPizzeria.Services
@model IngedientDishViewModel
@inject IngredientService IngredientService

<div>
    <div class="col-md-6">
        @foreach (var ingredient in @Model.Ingredients)
        {
            <div class="col-lg-12">
                <p class="col-md-6">@ingredient.Name</p>
                <a class="col-md-6 btn btn-danger" onclick="updateDishIngredient('@Model.BaseDishId', '@ingredient.IngredientId', 'false', '@Model.IsOrderedDish')">Remove</a>
            </div>
        }
    </div>
    <div class="col-md-6">
        @foreach (var ingredient in IngredientService.GetAllUnusedIngredients(Model.Ingredients))
        {
            <div class="col-lg-12">
                <p class="col-sm-4">@ingredient.Name</p>
                <a class="col-sm-4 btn btn-info" onclick="updateDishIngredient('@Model.BaseDishId', '@ingredient.IngredientId', 'true', '@Model.IsOrderedDish')">Add</a>
                @if (Model.IsOrderedDish && await IngredientService.NotInBaseDish(ingredient, Model.BaseDishId))
                {
                    <p class="col-sm-4">@ingredient.AddExtraPrice kr</p>
                }
            </div>
        }
    </div>
    <div class="col-sm-12">
        @if (Model.IsOrderedDish)
        {
            <div>
                Dish price: @await IngredientService.CalculateDishPrice(Model.Ingredients, Model.BaseDishId)
            </div>
        }
    </div>
</div>