@using HäggesPizzeria.Models.IngredientViewModels
@using HäggesPizzeria.Services
@model IngedientDishViewModel
@inject IngredientService IngredientService

<div>
    <div class="col-md-6">
        @foreach (var ingredient in @Model.Ingredients)
        {
            <div class="col-lg-12">
                <p class="col-md-6">@ingredient.Name</p>
                <button class="col-md-6" onclick="updateDishIngredient('@Model.DishName', '@ingredient.IngredientId', 'false', '@Model.IsOrderedDish')">Remove</button>
            </div>
        }
    </div>
    <div class="col-md-6">
        @foreach (var ingredient in IngredientService.GetAllUnusedIngredients(Model.Ingredients))
        {
            <div class="col-lg-12">
                @if (Model.IsOrderedDish)
                {
                    <p class="col-sm-4">@ingredient.Name</p>
                    <p class="col-sm-4">@ingredient.AddExtraPrice kr</p>
                    <button class="col-sm-4" onclick="updateDishIngredient('@Model.DishName', '@ingredient.IngredientId', 'true', '@Model.IsOrderedDish')">Add</button>
                }
                else
                {
                    <p class="col-sm-6">@ingredient.Name</p>
                    <button class="col-sm-6" onclick="updateDishIngredient('@Model.DishName', '@ingredient.IngredientId', 'true', '@Model.IsOrderedDish')">Add</button>
                }
            </div>
        }
    </div>
    @if (Model.IsOrderedDish)
    {
        <div>
            Dish price: @IngredientService.CalculateDishPrice(Model.Ingredients, Model.DishName)
        </div>
    }
</div>