@using System.Collections.Generic
@model ICollection<Order>

<table class="table">
    <thead>
    <tr>
        <th>
            Order date
        </th>
        <th>
            Total price
        </th>
        <th>
            Phone number
        </th>
        <th>
            Email
        </th>
        <th>
            Customer name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.OrderDate
        </td>
        <td>
            @item.TotalPrice
        </td>
        <td>
            @item.PhoneNumber
        </td>
        <td>
            @item.Email
        </td>
        @if (item.User != null)
        {
            <td>
                @item.User.CustomerName
            </td>
        }
        else
        {
            <td>
                No registered user
            </td>
        }
        <td>
            <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
        </td>
    </tr>
}
    </tbody>
</table>
